<!-- Footer -->
<footer class="text-white py-4">
    <div class="container">
        <div class="row">
            <!-- Social Media Icons -->
            <div class="col-md-2">
                <a href="#" class="text-white mx-3">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="https://www.instagram.com/shagaljewelry/" class="text-white">
                    <i class="bi bi-instagram"></i>
                </a>
            </div>

            <!-- Footer Links -->
            <div class="d-flex justify-content-center col-md-9 text-right">
                <p class="col-md-3">
                    <a href="/terms" class="text-white text-decoration-none">תקנון</a>
                </p>
                <p class="col-md-3">
                    <a href="/branches" class="text-white text-decoration-none">סניפים</a>
                </p>
                <p class="col-md-3">
                    <a href="/contact" class="text-white text-decoration-none">צור קשר</a>
                </p>
                <p class="col-md-3">
                    <a href="/about" class="text-white text-decoration-none">אודות</a>
                </p>
            </div>
        </div>

    </div>

</footer>
