<!DOCTYPE html>
<html data-bs-theme="auto" lang="he" dir="rtl">


<%- include('partials/head') %>

<body>
<%- include('partials/nav') %>
<div class="text-right container" style="direction: rtl">
    <h1 class="text-right">אודות עלינו</h1>
    <a>
        שאגל תכשיטים ושעונים מביאים בשורה של איכות תכשיטי זהב ויהלומים חסרת פשרות, ברוח קווי האופנה והטרנדים המובילים
        בעולם שכולו, יופי, זוהר, יוקרה ולייף סטייל.<br>

        אנו מציעים מגוון סגנונות ורמות מחיר, המאפשרים לכל אחת ואחד להגשים מראה נחשק ומפנק, המתעדכנים מספר פעמים
        בשנה.<br>

        הקולקציות השונות שלנו מציעות טבעות, צמידים ותליונים מזהב, משובצים יהלומים בדרגות ניקיון שונות. סדרה יוקרתית של
        יהלומים 1 קארט, טבעות לאירוסין, טבעות נישואין ותכשיטים לגבר.<br>

        המבחר הרחב של התכשיטים בשאגל עוברים ביקורת איכות קפדנית, והם מצטיינים באיכות חומרי גלם מהשורה הראשונה, ניקיון
        אבנים בסטנדרט גבוה וגימור מלוטש ומוקפד.<br>
    </a>
    <br>
    <img src="/photos/aboutPhoto.webp" alt="picture" width="100%"
         height="auto"/>
    <br>
    <a>
        כמו כן, בשאגל קו של תכשיטים בעיצוב עצמי, כך שכל אחד ואחת יכולים ליצור תכשיט עם אמירה אישית באמצעות חריטות אישיות
        ומגוון של סמלים ואלמנטים עיצוביים.<br>
        שלחו לנו עיצובים שאהבתם ואנחנו נהפוך אותם לייחודיים רק עבורכם, נעצב, על בסיס
        ההשראה, הערכים והתקציב שקבעתם.
        <br>
        כיצרנים ויבואנים של תכשיטים, הסוחרים ביהלומים בבורסת היהלומים הישראלית, "שאגל תכשיטים ושעונים" נחשבת למקור
        ראשון. כלקוח של שאגל אתה רוכש ישירות מהיצרן וחוסך עשרות אחוזים של פערי תיווך.
        <br>
        משנת 2022 שאגל משווקים גם תכשיטים המשובצים ביהלומי מעבדה תחת המותג lovelab diamonds.<br>

        שאגל תכשיטים ושעונים הינם משווק מורשה של מותגים מובילים בעולם של שעונים יוקרתיים ושעוני אופנה כמו ברייטלינג,
        קרטייה, ריימונד וויל, לונג'ין, ראדו, סייקו, גס, טומי הלפינגר, פוסיל, מייקל קורס ,DKNY ועוד.
        <br>
        בנוסף, תוכלו למצוא אצלנו שעוני יוקרה יד שניה לאחר טיפול וחידוש. לכל השעונים תעודת אחריות.

        לשאגל מעל 30 שנות ניסיון בייצור, ייבוא ושיווק תכשיטים, בסיטונאות ולקהל הפרטי, מאז יצירת טבעת האירוסין הראשונה
        שלנו לפני למעלה משלושים שנה,<br> שאגל חרטה על דגלה מחויבות אישית ללקוח, מקצוענות והקפדה לכך שכל תכשיט לא יצא מהחנות
        ללא שביעות רצון מלאה של הלקוח.
        <br>

        אתם מוזמנים ליהנות ממבחר התכשיטים מתוך הקולקציות השונות, בהספקה מהירה משלוח חינם תוך 7 ימים ושירות אדיב ואמין.
    </a>
</div>

<%- include('partials/footer') %>
</body>

</html>