<!DOCTYPE html>
<html data-bs-theme="auto" lang="he">

<%- include('partials/head') %>

<body>
<%- include('partials/nav') %>
<h1 class="text-right">המשתמש שלי</h1>
<button class="btn">הזמנות</button>
<%- include('partials/footer') %>
</body>

</html>
