<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body>
<%- include('partials/nav') %>
<h1 class="text-right">פאנל מנהלים</h1>

<%- include('partials/components/adminquickpanel') %>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="mb-3">Create Product</h3>
                    <!-- Create Form -->
                    <!-- Add your form elements here -->
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="mb-3">Read Product</h3>
                    <!-- Read Form -->
                    <!-- Add your form elements here -->
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="mb-3">Update Product</h3>
                    <!-- Update Form -->
                    <!-- Add your form elements here -->
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="mb-3">Delete Product</h3>
                    <!-- Delete Form -->
                    <!-- Add your form elements here -->
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') %>
</body>

</html>