<!DOCTYPE html>
<html data-bs-theme="auto" lang="he">

<%- include('partials/head') %>

<body>
<%- include('partials/nav') %>
<div class="text-right px-2">
    <h1>קטלוג מוצרים</h1>
</div>

<%- include('partials/footer') %>
</body>

</html>