<!DOCTYPE html>
<html data-bs-theme="auto" lang="he">

<%- include('partials/head') %>

<body>
  <%- include('partials/nav') %>
    <h1 class="text-right">צור קשר</h1>
  <%- include('partials/components/contactcomp') %>
  <%- include('partials/footer') %>

</body>

</html>