<!DOCTYPE html>
<html data-bs-theme="auto" lang="he">

<%- include('partials/head') %>
<script>
    $(document).ready(function () {
        console.log("Contact page is up!")
        $("#send-contact-btn").click(function (){
            console.log("send-contact-btn pressed!")
            $.ajax({
                url: "/api/contacts/",
                type:"GET",
                data:{
                    // we need to handle the id of the contact msg's
                    id:Math.abs(Math.floor(Math.random())),
                    name: $("#nameLbl").val(),
                    phoneNumber: Number.valueOf($("#numLbl").val()),
                    mail: $("#email").val(),
                    message:$("#message").val()
                },
                success: function (res){
                    alert("contact msg successfully sent")
                    // we need to render the page again but empty...
                },
                error: function (err){
                    console.error("contact msg unsuccessfully sent")
                }
            })

        })

    });
</script>
<body>
  <%- include('partials/nav') %>
    <h1 class="text-right">צור קשר</h1>
  <%- include('partials/components/contactcomp') %>
  <%- include('partials/footer') %>

</body>

</html>