<!DOCTYPE html>
<html data-bs-theme="auto" lang="he">

<%- include('partials/head') %>

<body>

<%- include('partials/nav') %>
<%- include('partials/components/couponsadmincomp.ejs') %>
<%- include('partials/footer') %>
</body>

</html>