<!DOCTYPE html>
<html data-bs-theme="auto" lang="he">

<%- include('partials/head') %>
    <script>
        $(document).ready(function () {
            $('#create_collectionbtt').click(() => {
                const url = `/api/categories/`;

                const req = {
                    categoryName: $('#collectName').val(),
                    categoryImage: "test",
                };

                // Make the AJAX GET request
                $.ajax({
                    url: url,
                    type: "POST",
                    data: JSON.stringify(req),
                    contentType: "application/json",
                    success: function (res) {
                        console.log("create collection success:", res);
                        //navigate to admin page
                        window.location.href = "/admin";
                    },
                    error: function (err) {
                        console.error("error:", err);
                    }
                });
            });
        })
    </script>


    <body>
        <%- include('partials/nav') %>
            <%- include('partials/components/create_collectioncomp.ejs') %>
                <%- include('partials/footer') %>
    </body>

</html>