<!DOCTYPE html>
<html data-bs-theme="auto" lang="en">

<%- include('partials/head') %>

<body>
  <%- include('partials/nav') %>
  <%- include('partials/components/logincomponent.ejs') %>

  <%- include('partials/footer') %>
</body>

</html>