<!DOCTYPE html>
<html data-bs-theme="auto" lang="he">

<%- include('partials/head') %>

<body>
<%- include('partials/nav') %>
<div>
    <h1>Products</h1>
</div>
<%- include('partials/footer') %>
</body>

</html>