<!DOCTYPE html>
<html data-bs-theme="auto" lang="he" dir="rtl">


<%- include('partials/head') %>
<body>
<%- include('partials/nav') %>
<%- include('partials/components/quantitiesadmincomp') %>
<%- include('partials/footer') %>
</body>

</html>