<!DOCTYPE html>
<html data-bs-theme="auto" lang="en">

<%- include('partials/head') %>

  <!-- Import jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $(document).ready(function () {
      console.log("ready!");
      $("#sign-up").click(function () {
        console.log("sign up button pressed!");

        const url = `/api/users/`;
        const username = $("#email").val();
        const password = $("#password").val();

        console.log(username, password)

        // Make the AJAX GET request
        $.ajax({
          url: url,
          type: "POST",
          salt: "123456789",
          data: {
            username: username,
            password: password,
          },
          success: function (res) {
            console.log("Sign up success:", res);
          },
          error: function (err) {
            console.error("Sign up! error:", err);
          }
        });
        });
      });
  </script>

  <body>
    <%- include('partials/nav') %>
      <%- include('partials/components/signupcomponent.ejs') %>
        <%- include('partials/footer') %>
  </body>

</html>