<!DOCTYPE html>
<html data-bs-theme="auto" lang="he" dir="rtl">

<%- include('partials/head') %>
<body>
<%- include('partials/nav') %>
<div class="text-right">
    <h1 class="text-right">מידת טבעות:</h1>
    ישנן כמה דרכים למדידה של טבעת:<br>
    <hr/>
    1 אפליקצית בעזרת מידה מדידת<br/>

    לאחר הורדת האפליקציה יש לעקוב אחרי ההוראות הבאות.</br>

    הניחו טבעת שיש לכם במידה הרצויה על המסך,</br>

    התאימו את גודל העיגול כך שיתאים לקוטר הטבעת הפנימי.</br>

    יש לשים לב שמסתכלים מכל הצדדים כדי לראות שהקווים מדמים את הגודל המתאים.</br>

    לאחר ההתאמה יופיע מתחת טבלת מידות, עם מידת הטבעת המשוערת במידה אמריקאית, ואירופאית.</br>
    <hr>
    2 מדידת מידה בעזרת חוט.</br>

    מלפפים חתיכה של חוט סביב האצבע שאליה מיועדת הטבעת.</br>

    יש לשים לב שמלפפים קרוב למפגש האצבע עם מפרק כף היד.</br>

    מסמנים את נקודת המפגש של החוט עם עצמו, ולאחר מכן מודדים בעזרת סרגל את אורך החוט.</br>

    המידה שקיבלתם בסרגל, במילימטרים, היא בעצם היקף הטבעת כל שנשאר הוא למצוא את ההיקף בטבלה מטה ולהשוות את ההיקף למידה
    האירופאית או האמריקאית.</br>
    <hr>
    3 מדידת מידה בעזרת טבעת קיימת.</br>

    מניחים את הטבעת הקיימת על נייר.</br>

    מסמנים את חלקה הפנימי בעזרת עט או עיפרון.</br>

    מודדים בעזרת סרגל את קוטר העיגול ששרטטנו, הקוטר הוא המרחק מקצה לקצה.</br>

    כל שנשאר הוא למצוא את הקוטר שנמדד בטבלה מטה ולהשוות למידה האירופאית או האמריקאית.</br>

    כמו כן, בחנות נוכל לקבוע את המידה המדויקת בעזרת סרגל טבעות או לחלופין בעזרת טבעת קיימת.</br>

    במידה ויש לתקן את מידת הטבעת שנקנתה, שינוי המידה נעשה ללא עלות נוספת ולוקח מספר ימי עבודה.</br>
    <hr>
    <b>שימו לב</b>
    את הבדיקות, מומלץ לבצע כאשר האצבעות בטמפרטורת הגוף הרגילה מפני שהאצבעות נוטות להתרחב ולהתכווץ בחום ובקור.</br>

    כמו כן, לא מומלץ למדוד את היקף האצבע לאחר מאמץ גופני.</br>

    המידות יכולות להיות שונות בין האצבעות.</br>

    מומלץ לבדוק את מידת האצבע בשתי דרכים לפחות כדי להבטיח דיוק מרבי.</br>

    במידה ואינך בטוח במידה, מומלץ לקחת מידה אחת יותר גדולה מתוצאת המדידה.</br>
    <img src="/photos/sizeGuide.webp">
</div>
<%- include('partials/footer') %>
</body>
</html>