<!DOCTYPE html>
<html data-bs-theme="auto" lang="he" dir="rtl">

<%- include('partials/head') %>

<%- include('partials/nav') %>
<body>
<div class="container text-right">
    <h1 class="text-right">תקנון</h1>
    <div class="container text-right">
        <h2>תקנון רכישה באתר</h2>
        <p>.התכשיטים המוצעים לקניה באתר ניתנים לרכישה באמצעות רכישה מאובטחת</p>
        <p>.הוראות תקנון זה יחולו רק על הרוכשים באתר בקנייה ישירה</p>
        <p>גלישה באתר והרכישה בו מהווה הסכמת הלקוח לתנאי התקנון ומהווה בסיס משפטי לדיון בין הלקוח לשאגל תכשיטים. ובמידה
            ואינו מסכים לתנאי מתנאיו, מתבקש לא לעשות בו שימוש</p>
        <p>.רכישה באתר מותרת לכל אדם שהינו מעל גיל 18 וברשתו כרטיס אשראי בתוקף ועל שמו</p>
        <b>:הרכישה באתר תושלם במידה ויתקיימו כל התנאים הבאים</b>

        <p> .פרטי ההזמנה מולאו באופן הנכון לצורך התשלום ומשלוח הפריט ללקוח - </p>
        <p> .קבלת אישור לביצוע העסקה ע"י חברת האשראי - </p>
        <p> .בדיקה ואישור ההזמנה ע"י צוות שאגל תוך שני ימי עסקים - </p>
        <p> .בסיום התהליך יקבל הלקוח הודעת אישור למייל ולמספר הנייד - </p>
        <p>.בעת ביצוע ההזמנה על הלקוח לבחור באופציה משלוח חינם עד 7 ימי עסקים או איסוף עצמי - </p>
        .במקרה של משלוח על הלקוח להיות זמין לקבלת המשלוח
    </div>
    <hr/>
    <div class="container text-right">
        <p>.הרוכש באתר יידרש למלא את הפרטים האישיים ולאשר את תקנון זה אשר מהווים רישום אוטומטי למועדון החברים של
            שאגל </p>
        <p>.מועדון שאגל מקנה מבצעים והטבות אשר מדווחות בדיוור, מיילים והודעות SMS (עפ"י החלטת הנהלת שאגל). החברות
            במועדון ניתנת לביטול בכל עת </p>
        <p>.הפרטים האישיים נשמרים במאגר החברה ולא מועברים לאף גורם אחר, ומשמשים להנפקת חשבונית ולביצוע המשלוח </p>
        <p>.מסירת פרטי אשראי כוזבים הינה עברה פלילית והעושה כן צפוי להיתבע ע"י חברת שאגל בהליכים פלילים ואזרחיים </p>
        <p>.בכל רכישה יסופק המוצר לקונה בתוך קופסת אריזה, שקית נשיאה, אחריות / תעודה חתומה על ידי גמולוג, חשבונית
            וקבלה </p>
    </div>
    <hr/>
    <div class="container text-right">
        <h2>אחריות ושירות</h2>
        <p>שעונים הנמכרים ברשת שאגל מלווים באחריות של בין שנה לחמש שנים (בהתאם לסוג המותג) ע"י היבואן הרשמי ולפי תנאי
            האחריות של היבואן (אין אחריות על:
            .פתיחת שעון / טיפול שהתבצע לא ע"י חברת שאגל, רצועה, זכוכית , נזק מתאונה, שימוש לא נכון בחלקים חיצוניים)</p>
        <p>.לרוכש תכשיט באתר תינתן שנתיים אחריות של שאגל תכשיטים. חברת שאגל תתקן ללא עלות שבר בתכשיט, אבן שנפלה ואבדת
            יהלומים עד 0.03 קרט</p>
        <p>.לשאגל תכשיטים אין אחריות על אובדן או נזק של אבנים גדולות, ולכן אנו ממליצים לבצע ביטוח חיצוני לפריט</p>
        <p>שינוי מידה הראשונה בטבעת תהינה ללא חיוב, כל שעליכם לעשות הוא להגיע לאחת מחנויות שאגל: החנות בקניון שבעת
            הכוכבים הרצליה או לחנות</p>
        <p>.בחולון, ולמסור את הטבעת לתיקון המידה הרצויה, ובנוסף אנו נבדוק את תקינות התכשיט שלכם ללא עלות</p>
    </div>
    <hr/>
    <div class="container text-right">
        <h2>החלפת המוצר</h2>
        <p>חברת שאגל תכשיטים שמה דגש על מתן שירות מקצועי ואדיב, על חווית קניה מהנה, ולשביעות רצון מלאה של לקוחותינו, על
            כן החברה מאפשרת</p>
        <p>.להחליף מוצר במוצר אחר תוך 14 ימי עסקים מקבלת המוצר, ובתנאי שהמוצר הינו חדש ולא נעשה בו שימוש / קוצר ועבר
            שינוי</p>
        <p>יש לצרף חשבונית מקורית לצורך זיהוי המוצר והחלפתו. ההחלפה תתבצע רק בחנויות חברת שאגל לפי כללי התקנון זה או
            לחילופין קבלת שובר זיכוי</p>
        <p>.למימוש תוך 180 יום ממועד הוצאתו</p>
    </div>
    <hr/>
    <div class="container text-right">
        <h2>ביטול עסקה / החזר כספי</h2>
        <p>.החזרת המוצר תתבצע רק בחנויות שאגל בלבד ובהתאם למדיניות ההחזר הכספי כמפורט בתקנון. לא ניתן לבטל עסקה על תכשיט
            מעל 3,000 ₪, למעט שעונים </p>
        <p>.החזר הכספי על שעונים יינתן בתנאי שלא עברו יותר מ- 14 יום מקבלת המוצר. החזר הכספי על תכשיטים עד סכום 3,000
            יתבצע בתנאי שלא עברו יותר משני ימי עסקים מקבלת המוצר</p>
        <p>.עבור ביטול עסקה תגבנה מהלקוח 5% ממחיר המוצר או עד 100 ₪ הנמוך מבניהם ובנוסף תוספת של 50 ₪ עבור המשלוח
            שנעשה</p>
        <p>.החזרת התשלום תתבצע במעמד ביטול העסקה או תוך 7 ימי עסקים, וזאת לאחר אישור מנהל, שההחזר עומד בתנאי הביטול</p>
        <p>אם הרכישה התבצעה במזומן יוחזר הסכום המזומן או בצ'ק מזומן , אם הרכישה בוצעה בכרטיס אשראי יבוטל החיוב בחברת
            האשראי במקרה וניתן,</p>
        <p>.אילו לא - יוחזר התשלום בצ'קים</p>
        <p>.לא ניתן לבטל עסקה או להחליף תכשיט שיוצר בעיצוב אישי, או שהעבר שינוי מידה, עבור הלקוח</p>
        <p>.התקנון מופיע בלשון זכר אך פונה לשני המינים</p>
    </div>
</div>
</body>
<%- include('partials/footer') %>

</html>