<!DOCTYPE html>
<html data-bs-theme="auto" lang="he">

<%- include('partials/head') %>

<body>
  <%- include('partials/nav') %>
    <h1 class="text-right">תקנון</h1>
  <%- include('partials/footer') %>
</body>

</html>