<!DOCTYPE html>
<html data-bs-theme="auto" lang="he">

<%- include('partials/head') %>

<body>
<%- include('partials/nav') %>
<%- include('partials/components/wishlistcomp')  %>
<%- include('partials/footer') %>
</body>

</html>