<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- <script src="/api/facebook"></script> -->
<script>
    $(document).ready(function () {
        $("#create-product").click(function (event) {
            event.preventDefault();
            console.log($("#formFileMultiple")[0].files[0].name);
            $.ajax({
                url: '/api/products',
                type: 'POST',
                data:
                    JSON.stringify({
                        productName: $("#name").val(),
                        modelNumber: $("#model_number").val(),
                        details: $("#details").val(),
                        goldWeight: $("#gold_weight").val(),
                        goldType: $("#gold_type").val(),
                        diamondNumber: $("#diamond_number").val(),
                        diamondWeight: $("#diamond_weight").val(),
                        categoryName: $("#category").val(),
                        price: $("#price").val(),
                        image: $("#formFileMultiple")[0].files[0].name,
                        quantity: $("#inventory").val()
                    }),
                contentType: 'application/json',
                success: function (res) {
                    console.log("upload success:", res);
                },
                error: function (err) {
                    console.error("upload error:", err);
                }

            });
            // uploadImage:
            const formData = new FormData();
            formData.append('file', $('#formFileMultiple')[0].files[0]);
            $.ajax({
                url: '/api/upload',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (res) {
                    console.log("upload success:", res);
                },
                error: function (err) {
                    console.error("upload error:", err);
                }
            })
        });
        $("#post-to-facebook").click(function () {
            console.log("post to facebook");
            postToFacebook(); // Call the function when the button is clicked
        });
    });
</script>
<div class="container mt-5">
    <h1 class="text-right">יצירת מוצר</h1>

    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <input id="name" class="form-control text-right" type="text" name="name" placeholder="שם מוצר" />
            </div>
            <div class="form-group">
                <input id="details" class="form-control text-right" type="text" name="details"
                    placeholder="תיאור מוצר" />
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input id="model_number" class="form-control text-right" type="text" name="model_number"
                        placeholder="מספר דגם" />
                </div>
                <div class="form-group col-md-6">
                    <select class="form-control text-right" id="category">
                        <option value="bracelet">צמיד</option>
                        <option value="watch">שעון</option>
                        <option value="ring">טבעת</option>
                        <option value="earring">עגיל</option>
                        <option value="necklace">שרשרת</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input id="gold_weight" class="form-control text-right" type="text" name="gold_weight"
                        placeholder="משקל זהב" />
                </div>
                <div class="form-group col-md-6">
                    <input id="gold_type" class="form-control text-right" type="text" name="gold_type"
                        placeholder="סוג זהב" />
                </div>
            </div>
            <div class="form-row">

                <div class="form-group col-md-6">
                    <input id="diamond_weight" class="form-control text-right" type="text" name="diamond_weight"
                        placeholder="משקל יהלומים" />
                </div>
                <div class="form-group col-md-6">
                    <input id="diamond_number" class="form-control text-right" type="text" name="diamond_number"
                        placeholder="כמות יהלומים" />
                </div>
            </div>
            <div class="form-row">

                <div class="form-group col-md-6">
                    <input id="price" class="form-control text-right" type="text" name="price" placeholder="מחיר" />
                </div>

                <div class="form-group col-md-6">
                    <input id="inventory" class="form-control text-right" type="text" name="inventory"
                        placeholder="מלאי" />
                </div>
            </div>
            <div class="form-group">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="formFileMultiple" name="avatar">
                    <label class="custom-file-label text-left" for="formFileMultiple">בחר תמונה</label>
                </div>
            </div>

            <div class="form-group form-check checkbox-container justify-content-start">
                <input class="form-check-input" type="checkbox" name="facebook" id="post">
                <label class="form-check-label " for="post">פרסם בפייסבוק</label>
            </div>
            <hr />
            <button id="create-product" class="btn btn-dark d-block w-100">שלח</button>
        </div>
    </div>
</div>