<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function postToFacebook() {
        // Set up the necessary parameters
        const accessToken = "EAAPIDLpXx9sBO3N9rWkSIJvoQxliei0N2lEmuJHvhMvmjSu1MUbzGPcegfuAUTaSbgBMZADjZCrNZCVj9PlmGUZCdLCpl0N7MNDWffDwMcLvQpAWAQZBq7hkg0QfZApq3aEnBiRGZCkTKEcPCieKAeHC4vJiGKrg8dRApFW8Vo67d2Vp4I4TK9wD7s8GI36cyVFrBoEzkeA2Uy5H1RbcNuAWrbj2YrTYpgZD"; // Replace with your Facebook access token
        const postMessage = `  פרסמנו ${$("#name").val()}\n נשמח לראות בתגובות מה אתם חושבים על ה${$("#category option:selected").text()} `;
        const pageId = "122285680960785";

        // Construct the API endpoint URL
        const apiUrl = `https://graph.facebook.com/v16.0/${pageId}/feed`; // Use the 'pageId' variable

        // Set up the post data
        const postData = new URLSearchParams({
            message: postMessage,
            access_token: accessToken,
        });

        // Send the post request
        fetch(apiUrl, {
            method: "POST",
            body: postData, // Use the 'postData' variable
        })
            .then((response) => response.json())
            .then((data) => {
                console.log("Post successfully sent!");
                alert("Post successfully sent!");
            })
            .catch((error) => {
                console.log("Post request failed. Error:", error);
            });
    }
</script>

<script>
    $(document).ready(function () {

        var productId = "<%- productId %>" ? "<%- productId %>" : null;
        if (productId != null) {
            productId = JSON.parse(productId);
            console.log("productId:", productId);
            // get product by id
            $.ajax({
                url: '/api/products/' + productId,
                type: 'GET',
                contentType: 'application/json',
                success: function (res) {
                    console.log("get product success:", res);
                    $("#name").val(res.productName);
                    $("#model_number").val(res.modelNumber);
                    $("#details").val(res.details);
                    $("#gold_weight").val(res.goldWeight);
                    $("#gold_type").val(res.goldType);
                    $("#diamond_number").val(res.diamondNumber);
                    $("#diamond_weight").val(res.diamondWeight);
                    $("#category").val(res.categoryName);
                    $("#price").val(res.price);
                    $("#inventory").val(res.quantity);

                    $("#create-product").text("עדכן מוצר");
                    let removeBtn = $(`<button type="button" class="btn mybtn mt-4" style="width: 100%">מחק מוצר</button>`)
                    removeBtn.click(function () {
                        $.ajax({
                            url: `/api/products/${productId}`,
                            type: 'DELETE',
                            success: function (res) {
                                console.log(res);
                                alert("המוצר נמחק בהצלחה!");
                                window.location.href = "/admin/products";
                            },
                            error: function (err) {
                                console.log(err);
                            }
                        });
                    });
                    $("#product-form").append(removeBtn);

                },
                error: function (err) {
                    console.error("get product error:", err);
                }
            });
        }

        $("#create-product").click(function (event) {
            function isPositiveNumber(value) {
                return parseFloat(value) > 0;
            }

            function isEmpty(value) {
                return value === "";
            }

            function displayErrorMessage(message) {
                $("#error-label").text(message);
            }

            function handleValidationFailure() {
                displayErrorMessage("אנא מלא את כל השדות או הכנס ערכים חיוביים");
                event.preventDefault();
            }

            // Retrieve field values
            const nameValue = $("#name").val();
            const modelNumberValue = $("#model_number").val();
            const detailsValue = $("#details").val();
            const goldWeightValue = $("#gold_weight").val();
            const goldTypeValue = $("#gold_type").val();
            const diamondNumberValue = $("#diamond_number").val();
            const diamondWeightValue = $("#diamond_weight").val();
            const categoryValue = $("#category").val();
            const priceValue = $("#price").val();
            const inventoryValue = $("#inventory").val();
            const fileInput = $("#formFileMultiple")[0];

            // Define validation conditions
            const isAnyFieldEmpty =
                isEmpty(nameValue) ||
                isEmpty(modelNumberValue) ||
                isEmpty(detailsValue) ||
                isEmpty(goldWeightValue) ||
                isEmpty(goldTypeValue) ||
                isEmpty(diamondNumberValue) ||
                isEmpty(diamondWeightValue) ||
                isEmpty(categoryValue) ||
                isEmpty(priceValue) ||
                isEmpty(inventoryValue)

            const isAnyNumberNotPositive =
                !isPositiveNumber(goldWeightValue) ||
                !isPositiveNumber(diamondNumberValue) ||
                !isPositiveNumber(diamondWeightValue) ||
                !isPositiveNumber(priceValue) ||
                !isPositiveNumber(inventoryValue);

            // Validate the form
            if (isAnyFieldEmpty || isAnyNumberNotPositive) {
                handleValidationFailure();
                return;
            } else {
                displayErrorMessage("");
            }


            event.preventDefault();
            if (!productId || productId == null) {
                console.log($("#formFileMultiple")[0].files[0].name);
                $.ajax({
                    url: '/api/products',
                    type: 'POST',
                    data:
                        JSON.stringify({
                            productName: $("#name").val(),
                            modelNumber: $("#model_number").val(),
                            details: $("#details").val(),
                            goldWeight: $("#gold_weight").val(),
                            goldType: $("#gold_type").val(),
                            diamondNumber: $("#diamond_number").val(),
                            diamondWeight: $("#diamond_weight").val(),
                            categoryName: $("#category").val(),
                            price: $("#price").val(),
                            image: $("#formFileMultiple")[0].files[0].name,
                            quantity: $("#inventory").val()
                        }),

                    contentType: 'application/json',
                    success: function (res) {

                        console.log("upload success:", res);
                    },
                    error: function (err) {
                        console.error("upload error:", err);
                    }
                });
                // uploadImage:
                const formData = new FormData();
                formData.append('file', $('#formFileMultiple')[0].files[0]);
                $.ajax({
                    url: '/api/upload',
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        console.log("upload success:", res);
                    },
                    error: function (err) {
                        console.error("upload error:", err);
                    }
                })
            }
            else {
                $.ajax({
                    url: '/api/products/' + productId,
                    type: 'PUT',
                    data:
                        JSON.stringify({
                            productName: $("#name").val(),
                            modelNumber: $("#model_number").val(),
                            details: $("#details").val(),
                            goldWeight: $("#gold_weight").val(),
                            goldType: $("#gold_type").val(),
                            diamondNumber: $("#diamond_number").val(),
                            diamondWeight: $("#diamond_weight").val(),
                            categoryName: $("#category").val(),
                            price: $("#price").val(),
                            quantity: $("#inventory").val()
                        }),
                    contentType: 'application/json',
                    success: function (res) {
                        console.log("upload success:", res);
                    },
                    error: function (err) {
                        console.error("upload error:", err);
                    }
                });
            }
        });
        // $("#post-to-facebook").click(function () {
        //     console.log("post to facebook");
        //     postToFacebook(); // Call the function when the button is clicked
        // });
    });
</script>
<div class="container mt-5">
    <h1 class="text-right">יצירת מוצר</h1>
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <label id="error-label" class="text-danger"></label>
            </div>
            <form id="product-form">
                <div class="form-group">
                    <input id="name" class="form-control text-right" type="text" name="name" placeholder="שם מוצר"
                        required>
                </div>
                <div class="form-group">
                    <input id="details" class="form-control text-right" type="text" name="details"
                        placeholder="תיאור מוצר">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input id="model_number" class="form-control text-right" type="text" name="model_number"
                            placeholder="מספר דגם" required>
                    </div>
                    <div class="form-group col-md-6">
                        <select class="form-control text-right" id="category" required>
                            <option value="">בחר קטגוריה</option>
                            <option value="bracelet">צמיד</option>
                            <option value="watch">שעון</option>
                            <option value="ring">טבעת</option>
                            <option value="earring">עגיל</option>
                            <option value="necklace">שרשרת</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input id="gold_weight" class="form-control text-right" type="text" name="gold_weight"
                            placeholder="משקל זהב" />
                    </div>
                    <div class="form-group col-md-6">
                        <input id="gold_type" class="form-control text-right" type="text" name="gold_type"
                            placeholder="סוג זהב" />
                    </div>
                </div>
                <div class="form-row">

                    <div class="form-group col-md-6">
                        <input id="diamond_weight" class="form-control text-right" type="text" name="diamond_weight"
                            placeholder="משקל יהלומים" />
                    </div>
                    <div class="form-group col-md-6">
                        <input id="diamond_number" class="form-control text-right" type="text" name="diamond_number"
                            placeholder="כמות יהלומים" />
                    </div>
                </div>
                <div class="form-row">

                    <div class="form-group col-md-6">
                        <input id="price" class="form-control text-right" type="text" name="price" placeholder="מחיר"
                            required />
                    </div>

                    <div class="form-group col-md-6">
                        <input id="inventory" class="form-control text-right" type="text" name="inventory"
                            placeholder="מלאי" required />
                    </div>
                </div>
                <div class="form-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="formFileMultiple" name="avatar">
                        <label class="custom-file-label text-left" for="formFileMultiple" required>בחר תמונה</label>
                    </div>
                </div>
                <hr />
                <div class="buttons">
                    <button id="create-product" class="btn btn-dark d-block w-100">שלח</button>
                    <button id="post" class="btn btn-dark d-block w-100" onclick="postToFacebook()">פרסם בפייסבוק
                    </button>
                </div>
        </div>
    </div>
</div>