<div class="container d-flex">
    <style>
        button {
            padding: 100px 30px;
            width: 100%;
            font-size: 16px;
            color: white;
        }
    </style>
    <div class="btn-container text-center" style="  display: flex;
            flex-direction: row;
            gap: 10px;
justify-content: space-between;
width: 100%;
height: 500px;
">
        <button class="btn mybtn" type="button">מלאי</button>
        <button class="btn mybtn" type="button" onclick="window.location.href='/admin/orders'">ניהול הזמנות</button>
        <button class="btn mybtn" type="button" onclick="window.location.href='/admin/collection'">ניהול קולקציה
        </button>
        <button class="btn mybtn" type="button" onclick="window.location.href='/admin/products'">מוצרים</button>
        <button class="btn mybtn" type="button" onclick="window.location.href='/admin/editbranches'">סניפים</button>
    </div>
</div>