<h1 class="text-right">הזמנות</h1>
<div class="cart-comp" style="max-width: 300px; margin: auto;">
    <label class="text-right d-block">:חפש לפי</label>
    <div class="form-group">
        <select class="form-control text-right" id="orders">
            <option>הכל</option>
            <option>שם המוצר</option>
            <option>תאריך הזמנה</option>
            <option>שם הלקוח</option>
        </select>
    </div>
    <input type="text" class="form-control text-right" id="search" placeholder="...חפש">
    <button class="btn btn-primary" id="search-btn">חפש</button>
</div>


