<div class="container  text-right">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="mb-3">יצירת מוצר</h3>
                    <section class="position-relative py-4 py-xl-5">
                        <div class="container position-relative">
                            <div class="row d-flex justify-content-center">
                                <div class="col">
                                    <form method="post">
                                        <div class="mb-3"><input id="name" class="form-control" type="text" name="name"
                                                                 placeholder="Name"/></div>
                                        <div class="form-group">
                                            <select class="form-control" id="exampleFormControlSelect1">
                                                <option>בחר קטגוריה</option>
                                                <option>טבעת</option>
                                                <option>שעון</option>
                                                <option>שרשרת</option>
                                                <option>צמיד</option>
                                                <option>עגיל</option>
                                            </select>
                                        </div>
                                        <div class="mb-3"><input id="price" class="form-control" type="email"
                                                                 name="price" placeholder="price"/></div>
                                        <div class="mb-3"><input id="url" class="form-control" type="url"
                                                                 placeholder="img url"/></div>

                                        <div>
                                            <button class="btn btn-dark d-block w-100" type="submit">Send</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="mb-3">חיפוש מוצר</h3>
                    <section class="position-relative py-4 py-xl-5">
                        <div class="container position-relative">
                            <div class="row d-flex justify-content-center">
                                <div class="col">
                                    <form method="post">
                                        <div class="mb-3">
                                            <input class="form-control" placeholder="שם מוצר" type="search"/>
                                        </div>
                                        <div>
                                            <button class="btn btn-dark d-block w-100" type="submit">Send
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>