<div class="container">
    <div class="row p-2">
        <div class="col-md-3 text-white px-1 py-1">
            <button class="btn btn-dark text-center">צור קולקציה</button>
        </div>
        <div class="col-md-3 text-white px-1 py-1">
            <button class="btn btn-dark text-center">ניהול מוצרים</button>
        </div>
        <div class="col-md-3 text-white px-1 py-1">
            <button class="btn btn-dark text-center">מצב מכירות</button>
        </div>
        <div class="col-md-3 text-white px-1 py-1">
            <button class="btn btn-dark text-center" onclick="window.location.href='/admin/branches'">עריכת סניפים</button>
        </div>
    </div>
    <div class="row p-2">
        <div class="col-md-3 text-white px-1 py-1">
            <button class="btn btn-dark text-center">עריכת תקנון</button>
        </div>
        <div class="col-md-3 text-white px-1 py-1">
            <button class="btn btn-dark text-center">משתמשים</button>
        </div>
        <div class="col-md-3 text-white px-1 py-1">
            <button class="btn btn-dark text-center">עוד</button>
        </div>
        <div class="col-md-3 text-white px-1 py-1">
            <button class="btn btn-dark text-center">דוגמא</button>
        </div>
    </div>
</div>