<div class="container  text-right">
    <div class="row justify-content-center">
        <div class="row">
        <div class="col-md-6">
            <%- include('addproductcomp')%>
        </div>
        <div class="col-md-6">

            <%- include('searchproductcomp')%>
        </div>
        </div>
    </div>
</div>