<div class="container">
    <div class="row p-2">
        <div class="col-md-3 text-white px-1 py-1">
            <button class="btn btn-dark text-center" onclick="window.location.href='/admin/create_collection'">צור קולקציה</button>
        </div>
        <div class="col-md-3 text-white px-1 py-1">
            <button class="btn btn-dark text-center" onclick="window.location.href='/admin/delete_collection'">מחק קולקציה</button>
        </div>
        <div class="col-md-3 text-white px-1 py-1">
            <button class="btn btn-dark text-center" onclick="window.location.href='/admin/salestrack'">מצב מכירות</button>
        </div>
        <div class="col-md-3 text-white px-1 py-1">
            <button class="btn btn-dark text-center" onclick="window.location.href='/admin/editbranches'">עריכת סניפים</button>
        </div>
    </div>
    <div class="row p-2">
        <div class="col-md-3 text-white px-1 py-1">
            <button class="btn btn-dark text-center">עריכת תקנון</button>
        </div>
        <div class="col-md-3 text-white px-1 py-1">
            <button class="btn btn-dark text-center">משתמשים</button>
        </div>
        <div class="col-md-3 text-white px-1 py-1">
            <button class="btn btn-dark text-center">עוד</button>
        </div>
        <div class="col-md-3 text-white px-1 py-1">
            <button class="btn btn-dark text-center">דוגמא</button>
        </div>
    </div>
</div>