<div style="margin: 15px;padding: 40px;">
    <div class="container text-center">
        <div class="row">

            <div class="col-md-3">
                <button class="btn btn-dark" type="button" style="padding: 50px;">מלאי</button>
            </div>
            <div class="col-md-3">
                <button class="btn btn-dark" type="button" style="padding: 50px;">הזמנות</button>
            </div>
            <div class="col-md-3">
                <button class="btn btn-dark" type="button" style="padding: 50px;" onclick="window.location.href='/admin/collection'">ניהול קולקציה</button>
            </div>
            <div class="col-md-3">
                <button onclick="window.location.href='/admin/products'" class="btn btn-dark" type="button"
                        style="padding: 50px;">מוצרים
                </button>
            </div>
        </div>
    </div>
    <div class="container text-center" style="margin-top: 77px;">
        <div class="row">
             <div class="col-md-3">
                <button class="btn btn-dark" type="button" style="padding: 50px;"> עוד </button>
            </div>
            <div class="col-md-3">
                <button class="btn btn-dark" type="button" style="padding: 50px;">תקנון</button>
            </div>
            <div class="col-md-3">
                <button class="btn btn-dark" type="button" style="padding: 50px;">סניפים</button>
            </div>
            <div class="col-md-3">
                <button class="btn btn-dark" type="button" style="padding: 50px;">קופונים</button>
            </div>

        </div>
    </div>
</div>