<div class="container  text-right">
    <div class="row justify-content-center">
        <div class="col-md-8">
<!--            you need to put this within the container->row->col divs-->
            <%- include('addproductcomp')%>
            <%- include('searchproductcomp')%>
        </div>
    </div>
</div>