<h1 class="text-right"> סניפים</h1>
<div class="branches-container" style="max-width: 300px; margin: auto;">
    <form action="/branches" method="post">
        <label class="text-right d-block">:סניף</label>
        <label class="text-right d-block">:כתובת</label>
        <label class="text-right d-block">:שעות פתיחה</label>
        <label class="text-right d-block">:טלפון</label>
    </form>
</div>
