<h1 class="text-right" xmlns="http://www.w3.org/1999/html"> סל קניות</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="cart-comp" style="max-width: 300px; margin: auto;">
                <p> :פרטי הזמנה</p>
                <div class="order-details text-right d-block">
                    <label class="text-right d-block">:סכום ביניים</label>
                    <label>
                        <span>שליח עד הבית (7 עד ימי עסקים)</span>
                        <input type="radio" name="delivery">
                    </label>
                    <label>
                        <span>איסוף עצמי (7 עד ימי עסקים)</span>
                        <input type="radio" name="delivery">
                    </label>
                    <label class="text-right d-block">:סה"כ</label>
                    <button class="btn btn-primary">לתשלום</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-right">
                <img src="" alt="product img"/>
                <h3>product name</h3>
            </div>
        </div>

    </div>
</div>