<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {





    })
</script>

<div class="product-card">
    <div class="product-image-container">
        <span class="badge badge-new text-left">New</span>
        <a href="#" class="product-link" title="טבעת Infinito Singular בזהב צהוב, פנינים ויהלומים">
            <img src="./photos/PhotoRoom-20230621_150845.png" class="product-image"
                 alt="טבעת Infinito Singular בזהב צהוב, פנינים ויהלומים">
        </a>
    </div>
    <div class="product-details row" style="flex-direction: row;">
        <div class="col-md-6 text-right">
            <a href="#" class="product-name " style="color: black;"
               title="טבעת Infinito Singular בזהב צהוב, פנינים ויהלומים">טבעת Infinito Singular</a>
        </div>
        <div class="product-price col-md-1 text-left">
            <span class="price">₪11,180</span>
        </div>
    </div>
    <div class="text-center row">
        <button class="add-to-cart-button btn">הוסף לסל<i class="bi bi-bag-plus mx-1"></i></button>
        <button class="add-to-cart-button btn">אהבתי<i class="bi bi-heart mx-1"></i></button>
    </div>

</div>
