<div class="product-card">
    <div class="">
        <span class="badge badge-gold rounded-0 en-text">New</span>
        <a href="https://www.hstern.co.il/product/infinito-singular-ring-a2p217588/"
           title="טבעת Infinito Singular בזהב צהוב, פנינים ויהלומים">

            <img src="./photos/PhotoRoom-20230621_150845.png"
                 class="product-image"
                 alt="טבעת Infinito Singular בזהב צהוב, פנינים ויהלומים">

        </a>
    </div>
    <div class="row">
        <div class="product-name px-2" style="max-width: 30%; ">
            <a href="https://www.hstern.co.il/product/infinito-singular-ring-a2p217588/"
               title="טבעת Infinito Singular בזהב צהוב, פנינים ויהלומים">טבעת Infinito Singular בזהב צהוב, פנינים
                ויהלומים‎</a>
        </div>
        <div class="product-price px-2">
            <div class="price" data-price="11180"><span><bdi>₪11,180</bdi></span>
            </div>
        </div>
    </div>
</div>