<style>
    .category-link {
        display: block;
        text-decoration: none;
    }

    .category-item {
        aspect-ratio: 1;
        min-height: 200px;
        background-size: cover;
        background-position: center;
        transition: transform 0.3s ease;
    }

    .category-item:hover {
        transform: scale(1.05);
    }

    .catcon {
        direction: rtl;
        margin-bottom: 100px;

    }

    .cat {
        margin-right: 30px;
    }
</style>
<div class="container catcon mt-5">
    <div class="row justify-content-center">
        <div class="col-md-2 mb-4 cat">
            <a href="/catalog?category=neckless" class="category-link">

                <div class="category-item"
                     style="background-image: url('https://us.astridandmiyu.com/cdn/shop/collections/necklacesbanner_630a192d-3201-41b3-99f8-34c03e102f62.jpg?v=1664871787');">
                    <h3 class="text-center">שרשראות</h3>

                </div>
            </a>
        </div>
        <div class="col-md-2 mb-4 cat">
            <a href="/catalog?category=watches" class="category-link">

                <div class="category-item"
                     style="background-image: url('https://static01.nyt.com/images/2020/03/09/multimedia/09sp-womencollectors-inyt1/merlin_169978632_ef7805fb-a44e-401b-95f6-131a2efdfa57-superJumbo.jpg?quality=75&auto=webp');">
                    <h3 class="text-center">שעונים</h3>
                </div>
            </a>
        </div>
        <div class="col-md-2 mb-4 cat">
            <a href="/catalog?category=earrings" class="category-link">
                <div class="category-item"
                     style="background-image: url('https://pinchandfold.co.nz/cdn/shop/products/e-solitairechainW3_c421a622-92c0-46f9-9712-ab5cc1004cc5_500x500_crop_center.jpg?v=1620875317');">
                    <h3 class="text-center">עגילים</h3>

                </div>
            </a>
        </div>
        <div class="col-md-2 mb-4 cat">
            <a href="/catalog?category=bracelet" class="category-link">
                <div class="category-item"
                     style="background-image: url('https://www.hersey.co.uk/cdn/shop/products/hammered-blet_1.jpg?v=1683722203');">
                    <h3 class="text-center">צמידים</h3>
                </div>
            </a>
        </div>
        <div class="col-md-2 mb-4 cat">
            <a href="/catalog?category=ring" class="category-link">
                <div class="category-item"
                     style="background-image: url('https://www.stoneandstrand.com/cdn/shop/products/CLUSTERED-DIAMOND-RING-FULL-LOOK_750x.jpg?v=1648379166');">
                    <h3 class="text-center">טבעות</h3>
                </div>
            </a>
        </div>
    </div>
</div>