<h1 class="text-right" >  :ניהול קולקציות</h1>
<div class="collection-comp" style="max-width: 300px; margin: auto;">

    <div class="collectionComp text-right d-block">
        <button class="btn btn-primary" onclick="window.location.href='/delete_collection'">מחיקת קולקציה</button>
        <button class="btn btn-primary" onclick="window.location.href='/create_collection'">יצירת קולקציה</button>
        <button class="btn btn-primary" onclick="window.location.href='/edit_collection'">עריכת קולקציה</button>
    </div>
</div>


<!--<!DOCTYPE html>-->
<!--<html data-bs-theme="light" lang="en">-->
<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">-->
<!--    <title>COLLECTION</title>-->
<!--</head>-->
<!--<body>-->
<!--<div class="container text-right">-->
<!--    <div class="row">-->
<!--        <div class="delete_collection col-md-4" style="margin-left: -5px;padding-right: 28px;"><h2 style="margin-left: -126px;">מחיקת-->
<!--                קולקציה</h2>-->
<!--            <p>:בחר קולקציה</p>-->
<!--            <div class="input-group"></div>-->
<!--            <div class="dropdown">-->
<!--                <button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown"-->
<!--                        type="button">להכניס את הקולקציות-->
<!--                </button>-->
<!--                <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item"-->
<!--                                                                                              href="#">Second Item</a><a-->
<!--                            class="dropdown-item" href="#">Third Item</a></div>-->
<!--            </div>-->
<!--            <input class="btn btn-primary" type="submit">-->
<!--            <div class="input-group"></div>-->
<!--        </div>-->
<!--        <div class="edit_collection col-md-4"><h2>עריכת קולקציה</h2>-->
<!--            <p>:בחר קולקציה</p>-->
<!--            <div class="dropdown">-->
<!--                <button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown"-->
<!--                        type="button">להכניס את הקולקציות-->
<!--                </button>-->
<!--                <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item"-->
<!--                                                                                              href="#">Second Item</a><a-->
<!--                            class="dropdown-item" href="#">Third Item</a></div>-->
<!--            </div>-->
<!--            <p>:בחר מוצר</p>-->
<!--            <div class="dropdown">-->
<!--                <button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown"-->
<!--                        type="button">להכניס מוצרים-->
<!--                </button>-->
<!--                <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item"-->
<!--                                                                                              href="#">Second Item</a><a-->
<!--                            class="dropdown-item" href="#">Third Item</a></div>-->
<!--            </div>-->
<!--            <button class="btn btn-primary" type="button">מחיקה</button>-->
<!--            <p>:הוספת מוצר</p></div>-->
<!--        <div class="new_collection col-md-4"><h2 style="margin-right: -137px;margin-left: 86px;">הוספת קולקציה</h2>-->
<!--            <p>:שם הקולקציה</p><input type="text">-->
<!--            <p>:תאריך פרסום</p><input type="date"></div>-->
<!--    </div>-->
<!--</div>-->
<!--<script src="assets/bootstrap/js/bootstrap.min.js"></script>-->
<!--</body>-->
<!--</html>-->
