<div class="container">
    <h1 class="text-right">ניהול קולקציות</h1>
    <div class="row">
        <div class="col-md-12 text-right">
            <%- include('create_collectioncomp.ejs') %>
            <hr>
            <%- include('edit_collectioncomp.ejs') %>
            <hr>
            <%- include('delete_collectioncomp.ejs') %>
            <hr>
            <div class="container  text-right">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <%- include('addproductcomp.ejs') %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
