<h1 class="text-right" >  :קולקציות</h1>
<div class="collection-comp" style="max-width: 300px; margin: auto;">

    <div class="collectionComp text-right d-block">
        <button class="btn btn-primary" onclick="window.location.href='/delete_collection'">מחיקת קולקציה</button>
        <button class="btn btn-primary" onclick="window.location.href='/create_collection'">הוספת קולקציה</button>
    </div>
</div>
