<h1 class="text-right"> :קולקציות</h1>
<div class="branches-container" style="max-width: 300px; margin: auto;">
    <form >
        <label for="collectName" class="text-right d-block">:שם הקולקציה</label>
        <input type="text" id="collectName" name="collectname" class="form-control" placeholder="הכנס שם קולקציה" required>
        <label  for="dateLbl" class="text-right d-block">:תאריך פרסום</label>
        <input type="date" id="dateLbl" name="dateLbl" class="form-control" placeholder="הכנס שם מלא" required>
        <label class="text-right d-block">: הוספת מוצרים</label>
        <div class="form-group">
            <select class="form-control" id="exampleFormControlSelect1">
                <option>מוצר 1</option>
                <option>מוצר 2</option>
                <option>מוצר 3</option>
                <option>מוצר 4</option>
                <option>מוצר 5</option>
            </select>
        </div>
        <button id="create_collectionbtt" class="btn btn-primary">אישור</button>
    </form>
</div>
