<h2 class="text-right"> :יצירת קופון</h2>
<div class="coupons-container text-right" style="max-width: 300px; margin: auto">
    <label class="text-right d-block">:הכנס קוד קופון</label>
    <input type="text" class="form-control" name="coupon" id="coupon" placeholder="קוד קופון" required>
    <label class="text-right d-block">:הכנס את הסכום של הקופון</label>
    <input type="number" class="form-control" name="coupon" id="coupon" placeholder="סכום קופון" required>
    <button id="createcoupon" type="submit" class="btn btn-primary">אישור</button>
</div>