<h2 class="text-right"> :מחיקת קופון</h2>
<div class="coupons-container text-right" style="max-width: 300px; margin: auto">
    <div class="editcoupon text-right">
        <a>:בחר קופון למחיקה</a>
        <select class="form-control" id="dropdletecoupon">
            <option>קופון 1</option>
            <option>קופון 2</option>
            <option>קופון 3</option>
            <option>קופון 4</option>
            <option>קופון 5</option>
        </select>
        <button class="btn btn-danger" id="deletecoupon">מחק</button>
    </div>
</div>