<h1 class="text-right"> :מחיקת קולקציות</h1>
<div class="branches-container" style="max-width: 300px; margin: auto;">
    <form >

        <label class="text-right d-block">:בחר קולקציה למחיקה</label>
        <div class="form-group">
            <select class="form-control" id="exampleFormControlSelect1">
                <option>קולקציה 1</option>
                <option>קולקציה 2</option>
                <option>קולקציה 3</option>
                <option>קולקציה 4</option>
                <option>קולקציה 5</option>
            </select>
        </div>
        <button id="delete_collectioncompbtn btn-danger" type="button" class="btn btn-danger">מחק</button>
    </form>
</div>
