<h1 class="text-right"> :קולקציות</h1>
<div class="branches-container" style="max-width: 300px; margin: auto;">
    <form >

        <label class="text-right d-block">:בחר קולקציה למחיקה</label>
        <div class="form-group">
            <select class="form-control" id="exampleFormControlSelect1">
                <option>קולקציה 1</option>
                <option>קולקציה 2</option>
                <option>קולקציה 3</option>
                <option>קולקציה 4</option>
                <option>קולקציה 5</option>
            </select>
        </div>
        <div class="removeCollection text-right">
            <p>למחוק הכל?</p>
            <label class="deleteCollection">
                <span>כן</span>
                <input type="radio" name="collect">
            </label>
            <label class="saveCollection">
                <span>לא</span>
                <input type="radio" name="collect">
            </label>
        </div>
        <div class="form-group">
            <select class="form-control" id="exampleFormControlSelect1">
                <option>מוצר 1</option>
                <option>מוצר 2</option>
                <option>מוצר 3</option>
                <option>מוצר 4</option>
                <option>מוצר 5</option>
            </select>
        </div>
        <button id="delete_collectioncompbtt" type="button" class="btn btn-primary">מחק</button>
    </form>
</div>
