<h1 class="text-right">עריכת סניפים</h1>
<div class="login-container" style="max-width: 300px; margin: auto;">
    <form action="/branches" method="post">
            <label class="text-right d-block">:סניף</label>
            <label class="text-right d-block">:כתובת</label>
            <label class="text-right d-block">:שעות פתיחה</label>
            <label class="text-right d-block">:טלפון</label>

        <div class="form-group text-right">
            <button type="button" class="btn btn-primary" onclick="window.location.href='/'">עריכה</button>
            <button type="button" class="btn btn-primary" onclick="window.location.href='/'">הסר</button>
        </div>
    </form>
</div>
