<div class="branches-container container" style="max-width: 500px; margin: auto;">
    <h2 class="text-right d-block">בחר קולקציה לעריכה</h2>

    <div class="form-group">
        <select class="form-control" id="exampleFormControlSelect1">
            <option>קולקציה 1</option>
            <option>קולקציה 2</option>
            <option>קולקציה 3</option>
            <option>קולקציה 4</option>
            <option>קולקציה 5</option>
        </select>
    </div>
    <div class="row">
        <div class="col-md-6 deletproduct text-right">
            <p>מחק מוצר</p>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>מוצר 1</option>
                <option>מוצר 2</option>
                <option>מוצר 3</option>
                <option>מוצר 4</option>
                <option>מוצר 5</option>
            </select>
            <br>
            <button id="edit_collectioncompbtt" type="button" class="btn btn-primary">מחק</button>
        </div>
        <br>
        <div class="col-md-6 addproduct text-right">
            <p>הוסף מוצר</p>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>מוצר 1</option>
                <option>מוצר 2</option>
                <option>מוצר 3</option>
                <option>מוצר 4</option>
                <option>מוצר 5</option>
            </select>
            <br>
            <button id="edit_collectioncompbtt" type="button" class="btn btn-primary">הוסף</button>
        </div>
    </div>

</div>
