<label class="text-right d-block">:בחר קולקציה לעריכה</label>
<div class="form-group">
    <select class="form-control" id="exampleFormControlSelect1">
        <option>קולקציה 1</option>
        <option>קולקציה 2</option>
        <option>קולקציה 3</option>
        <option>קולקציה 4</option>
        <option>קולקציה 5</option>
    </select>
</div>
<div class="deletproduct text-right">
    <a>:מחק מוצר</a>
    <select class="form-control" id="exampleFormControlSelect1">
        <option>מוצר 1</option>
        <option>מוצר 2</option>
        <option>מוצר 3</option>
        <option>מוצר 4</option>
        <option>מוצר 5</option>
    </select>
</div>
<div class="addproduct text-right">
    <a>:הוסף מוצר</a>
    <select class="form-control" id="exampleFormControlSelect1">
        <option>מוצר 1</option>
        <option>מוצר 2</option>
        <option>מוצר 3</option>
        <option>מוצר 4</option>
        <option>מוצר 5</option>
    </select>
</div>
<button id="edit_collectioncompbtt" type="button" class="btn btn-primary">מחק</button>
