<h2 class="text-right"> :עריכת קופון</h2>
<div class="coupons-container text-right" style="max-width: 300px; margin: auto">
    <div class="editcoupon text-right">
        <a>:בחר קופון לעריכה</a>
        <select class="form-control" id="dropeditcoupon">
            <option>קופון 1</option>
            <option>קופון 2</option>
            <option>קופון 3</option>
            <option>קופון 4</option>
            <option>קופון 5</option>
        </select>
    </div>
    <label class="text-right d-block">:שנה קוד קופון</label>
    <input type="number" class="form-control" name="coupon" id="coupon" placeholder="קוד קופון" required>

    <label class="text-right d-block">:שנה סכום קופון</label>
    <input type="number" class="form-control" name="coupon" id="coupon" placeholder="סכום קופון" required>
    <button id="createcoupon" type="submit" class="btn btn-primary">אישור</button>
</div>