<div>
    <h2 style="text-align: center;">Instagram Selection</h2>
    <p dir="ltr" style="text-align: center;"><span style="color: #000000;">FOLLOW US ON INSTAGRAM <span style="color: #000000;"><a style="color: #000000;" href="https://www.instagram.com/shagaljewelry/" target="_blank" rel="noopener" aria-label="FOLLOW US ON INSTAGRAM">@shagaljewelry</a></span></span></p>
    <div>
        <img src="./photos/PhotoRoom-20230622_201918.png">
        <img src="./photos/PhotoRoom-20230622_201918.png">
        <img src="./photos/PhotoRoom-20230622_201918.png">
    </div>
</div>