<div style="">
    <h2 style="text-align: center;">Instagram Selection</h2>
    <p dir="ltr" style="text-align: center;"><span style="color: #000000;">FOLLOW US ON INSTAGRAM <span
                    style="color: #000000;"><a style="color: #000000;" href="https://www.instagram.com/shagaljewelry/"
                                               target="_blank" rel="noopener" aria-label="FOLLOW US ON INSTAGRAM">@shagaljewelry</a></span></span>
    </p>
    <div class="row  d-flex justify-content-center">
        <div class="col-md-3">
            <img src="./photos/PhotoRoom-20230622_201918.png" class="img-fluid" style="aspect-ratio: 1">
        </div>
        <div class="col-md-3">
            <img src="./photos/PhotoRoom-20230621_162457.png" class="img-fluid" style="aspect-ratio: 1">
        </div>
        <div class="col-md-3">
            <img src="./photos/PhotoRoom-20230621_162253.png" class="img-fluid" style="aspect-ratio: 1">
        </div>
    </div>
</div>