    <!-- collection component -->
    <div class="row">
      <div class="col-md-6">
          <img src="Photos/IMG_1878.JPG" class="img-fluid" alt="Collection Image" style="height: 350px;" />
      </div>
      <div class="row py-10">
          <div class="product-collection px-2 py-5">
              <img src="/Photos/IMG_1860.JPG" class="img-fluid rounded" style="height: 200px; width: 200px;" />
              <p>₪1000</p>
          </div>
          <div class="product-collection px-5 py-5">
              <img src="/Photos/IMG_1860.JPG" class="img-fluid rounded" style="height: 200px; width: 200px;" />
              <p>₪5000</p>
          </div>
      </div>
  </div>