<div class="container" style="max-width: 500px; margin: auto;">
    <h2 class="text-right">בחר קטגוריה לצפייה:</h2>
    <div class="form-group">
        <select class="form-control text-right" id="category">
            <option value="all">הכל</option>
            <option value="bracelet">צמיד</option>
            <option value="watch">שעון</option>
            <option value="ring">טבעת</option>
            <option value="earring">עגיל</option>
            <option value="necklace">שרשרת</option>
        </select>
    </div>
</div>
<div class="container product-container text-right" style="background-color: #EFEFEF; width: 30em; height: auto" >
    <p class="text-right">details</p>
    <label class="text-right mt-4"> משקל זהב: </label><br/>
    <label class="text-right mt-4"> סוג זהב: </label><br/>
    <label class="text-right mt-4"> כמות יהלומים: </label><br/>
    <label class="text-right mt-4">  משקל יהלומים: </label><br/>
    <label class="text-right mt-4">  כמות במלאי: </label><br/>
    <img alt="תמונת מוצר">
</div>