 <!-- quickcatalog -->
    <div class="bg-dark text-white">
      <div class="container text-right">
        <div class="row">
          <div class="text-left">
            <a href="#" class="text-white mb-2">הצג הכל</a>
          </div>
          <div class="text-right">
            <ul class="list-unstyled row px-5 text-right">
              <li class="px-2"><p>שעונים</p></li>
              <li class="px-2"><p>טבעות</p></li>
              <li class="px-2"><p>צמידים</p></li>
              <li class="px-2"><p>עגילים</p></li>
            </ul>
          </div>
        </div>
        <div class="col-md-8 quickcatalog-product-item">
          <img
            src="/Photos//IMG_1770.JPG"
            class="img-fluid"
            alt="Product name"
            style="height: 400px; width: 400px"
          />
          <p>עגיל אותיות מכסף משובץ יהלומים</p>
        </div>
      </div>
    </div>