<h1 class="text-right"> סניפים</h1>
<div class="branches-container" style="max-width: 300px; margin: auto;">
    <form action="/branches" method="post">
        <label class="text-right d-block">:בחר נתונים</label>
        <div class="form-group">
            <select class="form-control" id="exampleFormControlSelect1">
                <option class="text-right">זמן גלישה ממוצע באתר</option>
                <option class="text-right">המוצר הנמכר ביותר</option>
                <option class="text-right">כמות רכישות המוצר</option>
                <option class="text-right">המוצר הנצפה ביותר</option>
                <option class="text-right">כמות צפיות</option>
            </select>
        </div>
    </form>
</div>
