<div class="card mb-3">
    <div class="card-body">
        <h3 class="mb-3">חיפוש מוצר</h3>
        <section class="position-relative py-4 py-xl-5">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col">
                        <form method="post">
                            <div class="mb-3">
                                <input class="form-control" placeholder="שם מוצר" type="search"/>
                            </div>
                            <div>
                                <button class="btn btn-dark d-block w-100" type="submit">Send
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>