<h1 class="text-right">מוצרים שאהבתי</h1>
<div class="wishlist" style="max-width: 300px; margin: auto;">
    <form action="/add" method="post">
        <label class="text-right d-block">:בחר קטגוריה</label>
        <div class="wishlist-group">
            <select class="wishlist-control" id="wishlist">
                <option class="text-right">הכל</option>
                <option class="text-right">שעונים</option>
                <option class="text-right">טבעות</option>
                <option class="text-right">צמידים</option>
            </select>
        </div>


    </form>

</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <hr>
            <button class="btn">X</button>

            <div class="text-right">
                <div class="row">
                    <div class="col-md-9">
                        <h5>שרשרת מכסף</h5>
                    </div>
                    <div class="col-md-3">
                        <img src="./photos/new.jpg" alt="product img" style="max-height: 150px"/>
                    </div>

                </div>
                <p class="text-left">₪1000</p>
            </div>
            <hr>
        </div>

    </div>
</div>
